html, body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif ;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
}

*{
    text-decoration: none !important;
}

.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} 

.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.nav .links .mainlink{
    color: #e0501b;
}

.nav img{
    position: relative;
    width: 230px;
    margin-left: 35px;
}

/* Landing Section */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
    height: 100vh;
}

.landingtext h1{
    font-size: 6vw;
    margin: 0 !important;
}

.landingtext h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.6;
    line-height: 30px;
}

.landingimage img{ 
    width: 30vw;
}

/* Form section */

.data{
    background-color: #f9f9f9;
    padding: 20px 0;
    margin: 0 30vw;
    margin-bottom: 10vh;
    text-align: center;
    align-content: center;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #3f3f3f;
}

.data h1{
    margin-top: 20px;
    font-size: 3vw;
}

form{
    display: grid;
    grid-row-gap: 20px;
}

form label{
    font-size: 1.3vw;
    font-weight: 800;
}

.field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select{
    box-shadow: 0px 0px 2px black;
    width: 20vw;
    padding: 8px 0px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.1vw;
}

button{
    width: 20vw;
    margin-top: 6vh;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    background-color: #2f8be0;
    color: white;
    box-shadow: 0px 0px 3px #3f3f3f;
}


button:hover{
    width: 20vw;
    margin-top: 6vh;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-radius: 100px;
    background-color: #2f8be0;
    color: white;
    background-color: #000;
    color: white;
    transition: all ease-in-out 0.2s;
}

/* Footer CSS */

.footer{
    height: 300px;
    background-color: #3f3f3f;
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footertext h1{
    font-size: 3vw;
    color: #fff;
    font-weight: 600;
}

.footerinnertext{
    font-size: 17px;
}

.footerlinks a{
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.footerlinks p{
    margin: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ccc;
}

/* Responsive CSS */

@media only screen and (max-width: 500px){
    /* NAV */
    
    .nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }

    .nav .links a{
        margin: 15px;
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
    
    
    .nav img{
        position: relative;
        width: 210px;
        margin: 20px;
    }

    /* LANDINGPAGE */

    .landing{
        flex-direction: column-reverse;
        height: 1100px;
        align-items: center;
        justify-content: center;
    }

    .landingtext h1{
        padding-top: 540px;
        font-size: 8vw;
        margin: 0 !important;
    }

    .landingtext h3{
        font-size: 20px;
    }

    .landingimage img{ 
        position: absolute;
        top: 50px;
        left: -190px;
        width: 80vw;
        margin-bottom: 30px;
    }

    /* FORM SECTION */

    .data{
        background-color: #f9f9f9;
        padding: 20px 0;
        margin: 0 7vw;
        margin-bottom: 10vh;
        text-align: center;
        align-content: center;
        padding-left: 70px;
        padding-right: 70px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #3f3f3f;
    }
    
    .data h1{
        margin-top: 20px;
        font-size: 7vw;
    }
    
    form{
        display: grid;
        grid-row-gap: 6px;
    }

    form label{
        font-size: 4vw;
        font-weight: 800;
    }
    
    .field{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    input, select{
        box-shadow: 0px 0px 2px black;
        width: 58vw;
        margin-top: 13px;
        padding: 8px 0px;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
        font-size: 3.2vw;
    }
    
    button{
        width: 50vw;
        margin-top: 6vh;
        padding: 15px;
        font-size: 25px;
        border: none;
        border-radius: 100px;
        background-color: #2f8be0;
        color: white;
        box-shadow: 0px 0px 3px #3f3f3f;
    }
       

    /* FOOTER */

   .footer{
    height: auto;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    } 

    .footertext h1{
        font-size: 8vw;
    }
    
    .footerinnertext{
        font-size: 3vw !important;
    }

    .footerlinks a{
        margin: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    
    .footerlinks p{
        margin: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #ccc;
    }
}